/* purgecss start ignore */

//About Template

.about-content {
  @apply text-p-gray-100;
  .wp-block-group {
    h2 {
      @apply font-semibold text-3xl uppercase tracking-wide mb-2;
    }
  }
  p {
    @apply mb-4 leading-7;
  }
  h2 {
    @apply font-semibold text-xl my-4 text-p-gray-300;
  }
  strong {
    @apply font-semibold text-p-gray-300;
  }
}

@screen md {
  .about-content {
    h2 {
      @apply text-2xl;
    }
  }
}


@screen lg {
  .about-content {
    .wp-block-group {
      @apply absolute top-0 max-w-4xl mx-auto left-0 right-0 bg-white z-20 px-8 pt-4;
      top: -21rem;
    }
  }
}

//Community Template

.community-container {
  .community-block {
    @apply bg-black text-white pt-12 pb-8;
    h2 {
      @apply m-0 text-white text-3xl uppercase tracking-wide mb-2;
    }
    strong {
      @apply text-white;
    }
  }
  .wp-block-group__inner-container {
    @apply w-full mx-auto px-4;
  }
  .community-courses {
    @apply bg-p-teal-200 pt-12 pb-8;
    h3 {
      @apply mb-2;
    }
    .course-subtitle {
      @apply mb-8;
    }
    .wp-block-image {
      @apply w-1/2 mx-auto mb-8;
    }
    .wp-block-column {
      h3 {
        @apply mb-0 uppercase tracking-wider text-2xl leading-tight;
      }
    }
    .course-meta {
      @apply mb-4 text-p-gray-100;
    }
    .wp-block-columns {
      &:last-child {
        @apply mb-0;
      }
    }
    #gform_3, #gform_5, #gform_6, #gform_7 {
      @apply my-0 mb-8;
    }
  }
  .community-contact {
    @apply pt-12;
  }
}

@screen sm {
  .community-container {
    .wp-block-group__inner-container {
      @apply px-6;
      max-width: 640px;
    }
  }
}

@screen md{
  .community-container {
    .wp-block-group__inner-container {
      max-width: 768px;
    }
    .community-courses {
      @apply pb-16;
      h3 {
        @apply text-2xl;
      }
      .wp-block-columns {
        @apply items-center bg-white p-8 pb-0 mb-8 shadow-xs shadow shadow-md rounded;
      }
      .wp-block-image {
        @apply w-3/4 mx-auto;
      }
      #gform_3, #gform_5, #gform_6, #gform_7 {
        #field_3_1, #field_5_1, #field_6_1, #field_7_1{
          .gfield_label {
            @apply w-1/3;
          }
        }
      }
    }
  }
}

@screen lg {
  .community-container {
    .wp-block-group__inner-container {
      @apply px-8;
      max-width: 1024px;
    }
    .community-courses {
      .wp-block-columns {
        @apply p-8 pb-0 mb-12;
      }
      .course-heading {
        @apply flex items-center mb-2;
      }
      .course-meta {
        @apply ml-2 mb-0;
      }
      .wp-block-image {
        @apply w-full px-4;
      }
      h3 {
        @apply w-3/5;
      }

      #gform_3, #gform_5, #gform_6, #gform_7 {
        @apply px-0;
        #field_3_1, #field_5_1, #field_6_1, #field_7_1 {
          .gfield_label {
            @apply w-auto;
          }
        }
      }
    }
    .community-contact {
      @apply pb-8;
    }
  }
  
}

@screen xl {
  .community-container {
    .wp-block-group__inner-container {
      max-width: 1280px;
    }
    .community-contact {
      @apply pb-4;
    }
  }
}

//Courses Template
.course-content {
  ul {
    @apply list-disc ml-4;
  }
  .gform_fields {
    @apply ml-0 list-none;
  }
  .triangle {
    &:after {
      content: '';
      position: absolute;
      top: 100%;
      left: 0; 
      right: 0;
      padding-bottom: 10%;
      background: inherit;
      clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
    }
  }
  .form-block {
    @apply shadow shadow-xs shadow-lg rounded mt-8 border-p-gray-200 bg-white;
  }
  .gform_wrapper {
    @apply px-4 pt-12 pb-8;
  }
  .course-info {
    @apply py-8 bg-gray-100;
    .wp-block-group__inner-container {
      @apply w-full mx-auto px-4;
    }
  }
}

@screen sm {
  .course-info {
    .wp-block-group__inner-container {
      @apply px-6;
      max-width: 640px;
    }
  }
}

@media(min-width: 600px) {
  .course-content {
    .wp-block-column {
      flex-basis: 100% !important;
      &:nth-child(2n) {
        @apply ml-0;
      }
    }
    .form-block {
      @apply max-w-sm mx-auto;
    }
    .gform_wrapper {
      @apply px-8;
    }
  }
}

@screen md {
  .course-content {
    .form-block {
      @apply -mt-48 ml-4;
    }
    .wp-block-column {
      @apply;
      flex-basis: 50% !important;
      &:nth-child(2n) {
        @apply mr-0;
        flex-basis: 50% !important;
      }
    }
    .course-info {
      .wp-block-group__inner-container {
        max-width: 768px;
      }
    }
  }
}


@screen lg {
  .course-content {
    .form-block {
      @apply -mt-56 ml-0;
    }
    .wp-block-column {
      @apply mr-4;
      flex-basis: 60% !important;
      &:nth-child(2n) {
        @apply mr-0;
        flex-basis: 40% !important;
      }
    }
    .course-info {
      .wp-block-group__inner-container {
        @apply px-8;
        max-width: 1024px;
      }
    }
  }
  .card-container {
    .course-card:last-child {
      @apply mr-0;
    }
  }
}

@screen xl {
  .course-content {
    .form-block {
      @apply -mt-56 max-w-md;
    }
    .wp-block-column {
      @apply mr-12;
      flex-basis: 67% !important;
      &:nth-child(2n) {
        @apply mr-0;
        flex-basis: auto !important;
      }
    }
    .course-info {
      .wp-block-group__inner-container {
        max-width: 1280px;
      }
    }
  }
}

/* purgecss end ignore */